html,body{
    height:100%;
    margin: 0;
}

h1{
    margin: 0;
    font-size:3em;
    font-family: 'Goudy Bookletter 1911';
}
h2{
    font-family: 'Goudy Bookletter 1911';
}

p{
    font-family: 'Arvo';

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avLogo{
    position: fixed;
    width: 60px;
    height: 90px;
    padding: 0px 0px 0px 15px;
    min-width: 60px;
    min-height: 90px;
    z-index: 5;
}


.socialIcon{
    border-radius: 50%;
    height: auto;
    width: 5vh;
    padding: 0vh 2vh 0vh 2vh;
}

.socialBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
}


.socialBarVertical{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s linear;
    z-index: 5;
}

.socialBarVerticalActive{
    opacity: 1;
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background:black;
    color: gainsboro;
    padding: 15px

}

.absoluteCentered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro{
    width:100%;
    height:100vh;
    font-family: 'Goudy Bookletter 1911';
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.skills{
    width:100%;
}

.experience{
    width:100%;
}

.projects{
    width:100%;
}


.bcg-parallax, .bcg-parallax2, .bcg-parallax3{
    padding: 10vh 0;
    color: #fff;
    background-color: #000;
    position: relative;
    overflow: hidden;
    text-align: center
}

.bcg{
    background: url('../img/white-back.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 140%;
    top:0;
    z-index: 1;
    opacity: 0.7;
}

.content-wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    z-index: 2;
    color: #26D0CE
}


.glow {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
    transition: all 0.3s linear;
	
}.glow:hover {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(251, 252, 252, 0.8));

}

section .content{
    padding: 90px 90px 00px 90px;
}

.card, .card img{
    width:60vh;
    height:30vh;
}

.card img{
    position: absolute;
    border-radius: 2%;
    transition: all 0.3s linear;
}

.card h2, p{
    padding: 0px 20px 0px 20px
}

.card:hover img{
    filter: blur(5px);
    opacity: 0.9;

}
.card div{
    position: relative;
    color: white;
    top: 50%;
    opacity: 0;
    transition: all 0.2s linear;
}

.card:hover div{
    opacity: 1;
}

.card div hr{
    border: none;
    border-bottom: solid 2px white;
    width: 0px;
    transition: all 0.5s;
    position: absolute;
    bottom: 50px; 
    left:0px;
}

.card:hover div hr{
    border: none;
    border-bottom: solid 2px white;
    width: 400px;
    transition-delay: 0.2s;
}

.projects a{
    text-decoration: none;
}


.flexProject{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.centeredText{
    text-align: center;
}

.skillsLogo, .technologiesLogo{
    width: 5vh;
    height: 5vh;
}


.id-card-left{
    background: skyblue;
    height: 400px;
    width: 215px;
}
.id-card-right{
    background: #8c43ff;
    height: 400px;
    width: 515px;
    text-align: justify;
}

.id-card-left img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
  
}
.id-card-left h2{
    text-align: center;
}

.id-card-right:hover .showOnHover{
    opacity: 1;
}

.hideOnHover{
    opacity: 1;
    transition: opacity 0.3s linear;
}

.id-card-right:hover .hideOnHover{
    opacity: 0;
}

.showOnHover{
    position: relative; 
    bottom: 70%; 
    opacity: 0;
    transition: opacity 0.3s linear;
}


.language{
    display: inline;
    border-radius: 37px;
    border: 1.5px solid black;
    padding: 15px;
    margin: 4px 2px;
    color: black;
    font-family: 'Arvo'
}